
.btn{
    padding: 1%;
    background-color: lime;
    border-radius: 10%;
}
h1{
    background-color:rgb(184, 179, 179);
    border: 1px solid black;  
    margin-left:25%;
    margin-right: 25%;
}
h2{
    background-color:rgb(184, 179, 179);
    border: 1px solid black;  
    margin-left:45%;
    margin-right: 44%;
}
#inc-btn{
    background-color: red;
}
div{
    text-align: center;
    height: 80%;
    width: 50%;
    border:solid red;
    margin-left: 20%;
    margin-top: 10%;
    padding: 2%;
    background-color: yellow;
}
footer{
   
    color:darkred;
    text-align-last:right;
}